<!-- header.ejs -->
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create Item</a></li>
      <li><a href="/items">View Items</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
