<!-- edit.ejs -->
<%- include('partials/header') %>

<h2>Edit Item</h2>
<form action="/edit/1" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="Current Item Name"><br><br>
  <button type="submit">Update</button>
</form>

<%- include('partials/footer') %>
